.container {
    transition: 3s;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0);
    /* display: flex;
    flex-direction: row; */
}
.container:hover {
    transition: 3s;
    height: 15vh;
    margin-top: -30vh;
    background-color: rgba(0, 0, 0, 0.9);
}
.button {
    text-align: center;
    color: white;
}
.button:hover {
    color: red;
}